.tabStyle {
    border: 1px solid;
    border-color: #277ab1;
    background-color: #1674b1;
    width: auto;
}

.tabStyle:hover{
    background-color: #4a8ebb;
}

.tabTextStyle {
    text-align: center;
    font-size: 20px;
    color: white;
}

.tabContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.radioButton {
    margin: 10px 20px;
	transform: scale(2);

}

.radioButtonLine {
	font-size: 40px;
  margin: 40px 0px;
}

.radioText {
	margin-left: 5px;
}

.radioButton label {
	margin-left: 10px;
}


.menuHeader:first-of-type {
	padding-top: 50px;
}



.menuHeader {
	text-align: center;
	font-size: 60px;
	margin: 12px 40px;
}

.menuContent {
	position:fixed;
	width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    background-color: white;
    margin: 0;
	font-family: "Roboto";
}


.MenuToggle {
	position: fixed;
	left: calc(50% - 35px);
	margin: auto;
	height: 66px;
	width: 66px;
	border: 2px solid rgb(200,200,200);
	border-radius: 50%;
	margin-top: -140px;
	font-size: 50px;
	text-align: center;
	font-weight: 0;
	color: rgb(200,200,200);
	font-family: verdana;
	z-index: 2000;
	}

.pictureFrame {
    width: auto;
    height: auto;
    background-color: #277ab1;
}

.dynamicPictureContainer {
    display: grid;
    justify-items: center;
    width: auto;
    height: auto;
    padding: 50px;
}

.exContainer {
    width: auto;
}

.largeMenuComponent {
    padding: 20px;
    width: auto;
    height: auto;
    background-color: #69a3ca;
}

.contentContainer {
    display: grid;
    grid-template-columns: 66.667% 33.334%;
    width: 100%;
    background-color: #c3d3dd;
}

.title {
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .largeMenuComponent {
        display: none;
    }
    .menu {
		display: inline;
	}
	.tabContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50px, 2fr));
    }
}

@media only screen and (min-width: 800px) {
	.menu {
		display: none;
	}
	.largeMenuComponent {
        display: inline;
    }
}
